wolf/wsdl/maskan_login.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://loginwebservice.webservices.mcds.pooyaco.com/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	targetNamespace="http://loginwebservice.webservices.mcds.pooyaco.com/" 
	name="LoginService">
<types>
<xsd:schema>
	<xsd:import 
		namespace="http://loginwebservice.webservices.mcds.pooyaco.com/" 
		schemaLocation="maskan_login.xsd"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="anotherOne">
<part name="parameters" element="tns:anotherOne"/>
</message>
<message name="anotherOneResponse">
<part name="parameters" element="tns:anotherOneResponse"/>
</message>
<portType name="LoginService">
<operation name="login">
<input message="tns:login"/>
<output message="tns:loginResponse"/>
</operation>
<operation name="logout">
<input message="tns:logout"/>
<output message="tns:logoutResponse"/>
</operation>
<operation name="anotherOne">
<input message="tns:anotherOne"/>
<output message="tns:anotherOneResponse"/>
</operation>
</portType>
<binding name="LoginServicePortBinding" type="tns:LoginService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="anotherOne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoginService">
<port name="LoginServicePort" binding="tns:LoginServicePortBinding">
<soap:address location="http://10.9.12.158:8001/LoginService/LoginServicePort"/>
</port>
</service>
</definitions>
