wolf/wsdl/maskan_person.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://businessservice.mcds.pooyaco.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://businessservice.mcds.pooyaco.com/" name="AllAccountsOfPersonService">
<wsp:UsingPolicy wssutil:Required="true"/>
<wsp:Policy wssutil:Id="Mtom.xml">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://businessservice.mcds.pooyaco.com/" schemaLocation="http://10.9.12.158:8001/PersonAllAccountsInfo/AllAccountsOfPersonServiceSoap12HttpPort?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllAccountsOfPerson">
<part name="parameters" element="tns:getAllAccountsOfPerson"/>
</message>
<message name="getAllAccountsOfPersonResponse">
<part name="parameters" element="tns:getAllAccountsOfPersonResponse"/>
</message>
<message name="getDigitalSignatureOfPersonService">
<part name="parameters" element="tns:getDigitalSignatureOfPersonService"/>
</message>
<message name="getDigitalSignatureOfPersonServiceResponse">
<part name="parameters" element="tns:getDigitalSignatureOfPersonServiceResponse"/>
</message>
<message name="getIndividualPersonInfo">
<part name="parameters" element="tns:getIndividualPersonInfo"/>
</message>
<message name="getIndividualPersonInfoResponse">
<part name="parameters" element="tns:getIndividualPersonInfoResponse"/>
</message>
<message name="getMoralPersonInfo">
<part name="parameters" element="tns:getMoralPersonInfo"/>
</message>
<message name="getMoralPersonInfoResponse">
<part name="parameters" element="tns:getMoralPersonInfoResponse"/>
</message>
<message name="createTemporaryIndividualPerson">
<part name="parameters" element="tns:createTemporaryIndividualPerson"/>
</message>
<message name="createTemporaryIndividualPersonResponse">
<part name="parameters" element="tns:createTemporaryIndividualPersonResponse"/>
</message>
<message name="generateMoralPersonInfoDigiSignature">
<part name="parameters" element="tns:generateMoralPersonInfoDigiSignature"/>
</message>
<message name="generateMoralPersonInfoDigiSignatureResponse">
<part name="parameters" element="tns:generateMoralPersonInfoDigiSignatureResponse"/>
</message>
<message name="generateTmpIndPersonDigiSignature">
<part name="parameters" element="tns:generateTmpIndPersonDigiSignature"/>
</message>
<message name="generateTmpIndPersonDigiSignatureResponse">
<part name="parameters" element="tns:generateTmpIndPersonDigiSignatureResponse"/>
</message>
<message name="getIndividualPersonChangeLog">
<part name="parameters" element="tns:getIndividualPersonChangeLog"/>
</message>
<message name="getIndividualPersonChangeLogResponse">
<part name="parameters" element="tns:getIndividualPersonChangeLogResponse"/>
</message>
<message name="generateIndividualPersonChangLogDigitalSignature">
<part name="parameters" element="tns:generateIndividualPersonChangLogDigitalSignature"/>
</message>
<message name="generateIndividualPersonChangLogDigitalSignatureResponse">
<part name="parameters" element="tns:generateIndividualPersonChangLogDigitalSignatureResponse"/>
</message>
<message name="getMoralPersonChangeLog">
<part name="parameters" element="tns:getMoralPersonChangeLog"/>
</message>
<message name="getMoralPersonChangeLogResponse">
<part name="parameters" element="tns:getMoralPersonChangeLogResponse"/>
</message>
<message name="generateMoralPersonChangLogDigitalSignature">
<part name="parameters" element="tns:generateMoralPersonChangLogDigitalSignature"/>
</message>
<message name="generateMoralPersonChangLogDigitalSignatureResponse">
<part name="parameters" element="tns:generateMoralPersonChangLogDigitalSignatureResponse"/>
</message>
<message name="getForeignIndividualPersonsInfoByIdNo">
<part name="parameters" element="tns:getForeignIndividualPersonsInfoByIdNo"/>
</message>
<message name="getForeignIndividualPersonsInfoByIdNoResponse">
<part name="parameters" element="tns:getForeignIndividualPersonsInfoByIdNoResponse"/>
</message>
<message name="generateForeignIndividualPersonsInfoByIdNoDigitalSignature">
<part name="parameters" element="tns:generateForeignIndividualPersonsInfoByIdNoDigitalSignature"/>
</message>
<message name="generateForeignIndividualPersonsInfoByIdNoDigitalSignatureResponse">
<part name="parameters" element="tns:generateForeignIndividualPersonsInfoByIdNoDigitalSignatureResponse"/>
</message>
<message name="getMoralPersonsInfoByNationalId">
<part name="parameters" element="tns:getMoralPersonsInfoByNationalId"/>
</message>
<message name="getMoralPersonsInfoByNationalIdResponse">
<part name="parameters" element="tns:getMoralPersonsInfoByNationalIdResponse"/>
</message>
<message name="generateMoralPersonsInfoByNationalId">
<part name="parameters" element="tns:generateMoralPersonsInfoByNationalId"/>
</message>
<message name="generateMoralPersonsInfoByNationalIdResponse">
<part name="parameters" element="tns:generateMoralPersonsInfoByNationalIdResponse"/>
</message>
<message name="getMoralPersonsInfoByRegistrationNo">
<part name="parameters" element="tns:getMoralPersonsInfoByRegistrationNo"/>
</message>
<message name="getMoralPersonsInfoByRegistrationNoResponse">
<part name="parameters" element="tns:getMoralPersonsInfoByRegistrationNoResponse"/>
</message>
<message name="generatetMoralPersonInfoByRegistrationNoDigitalSignature">
<part name="parameters" element="tns:generatetMoralPersonInfoByRegistrationNoDigitalSignature"/>
</message>
<message name="generatetMoralPersonInfoByRegistrationNoDigitalSignatureResponse">
<part name="parameters" element="tns:generatetMoralPersonInfoByRegistrationNoDigitalSignatureResponse"/>
</message>
<message name="getIndividualPersonInfoByNationalId">
<part name="parameters" element="tns:getIndividualPersonInfoByNationalId"/>
</message>
<message name="getIndividualPersonInfoByNationalIdResponse">
<part name="parameters" element="tns:getIndividualPersonInfoByNationalIdResponse"/>
</message>
<message name="generateIndividualPersonInfobyNationalIdDigitalSignature">
<part name="parameters" element="tns:generateIndividualPersonInfobyNationalIdDigitalSignature"/>
</message>
<message name="generateIndividualPersonInfobyNationalIdDigitalSignatureResponse">
<part name="parameters" element="tns:generateIndividualPersonInfobyNationalIdDigitalSignatureResponse"/>
</message>
<portType name="AllAccountsOfPersonService">
<operation name="getAllAccountsOfPerson">
<input message="tns:getAllAccountsOfPerson"/>
<output message="tns:getAllAccountsOfPersonResponse"/>
</operation>
<operation name="getDigitalSignatureOfPersonService">
<input message="tns:getDigitalSignatureOfPersonService"/>
<output message="tns:getDigitalSignatureOfPersonServiceResponse"/>
</operation>
<operation name="getIndividualPersonInfo">
<input message="tns:getIndividualPersonInfo"/>
<output message="tns:getIndividualPersonInfoResponse"/>
</operation>
<operation name="getMoralPersonInfo">
<input message="tns:getMoralPersonInfo"/>
<output message="tns:getMoralPersonInfoResponse"/>
</operation>
<operation name="createTemporaryIndividualPerson">
<input message="tns:createTemporaryIndividualPerson"/>
<output message="tns:createTemporaryIndividualPersonResponse"/>
</operation>
<operation name="generateMoralPersonInfoDigiSignature">
<input message="tns:generateMoralPersonInfoDigiSignature"/>
<output message="tns:generateMoralPersonInfoDigiSignatureResponse"/>
</operation>
<operation name="generateTmpIndPersonDigiSignature">
<input message="tns:generateTmpIndPersonDigiSignature"/>
<output message="tns:generateTmpIndPersonDigiSignatureResponse"/>
</operation>
<operation name="getIndividualPersonChangeLog">
<input message="tns:getIndividualPersonChangeLog"/>
<output message="tns:getIndividualPersonChangeLogResponse"/>
</operation>
<operation name="generateIndividualPersonChangLogDigitalSignature">
<input message="tns:generateIndividualPersonChangLogDigitalSignature"/>
<output message="tns:generateIndividualPersonChangLogDigitalSignatureResponse"/>
</operation>
<operation name="getMoralPersonChangeLog">
<input message="tns:getMoralPersonChangeLog"/>
<output message="tns:getMoralPersonChangeLogResponse"/>
</operation>
<operation name="generateMoralPersonChangLogDigitalSignature">
<input message="tns:generateMoralPersonChangLogDigitalSignature"/>
<output message="tns:generateMoralPersonChangLogDigitalSignatureResponse"/>
</operation>
<operation name="getForeignIndividualPersonsInfoByIdNo">
<input message="tns:getForeignIndividualPersonsInfoByIdNo"/>
<output message="tns:getForeignIndividualPersonsInfoByIdNoResponse"/>
</operation>
<operation name="generateForeignIndividualPersonsInfoByIdNoDigitalSignature">
<input message="tns:generateForeignIndividualPersonsInfoByIdNoDigitalSignature"/>
<output message="tns:generateForeignIndividualPersonsInfoByIdNoDigitalSignatureResponse"/>
</operation>
<operation name="getMoralPersonsInfoByNationalId">
<input message="tns:getMoralPersonsInfoByNationalId"/>
<output message="tns:getMoralPersonsInfoByNationalIdResponse"/>
</operation>
<operation name="generateMoralPersonsInfoByNationalId">
<input message="tns:generateMoralPersonsInfoByNationalId"/>
<output message="tns:generateMoralPersonsInfoByNationalIdResponse"/>
</operation>
<operation name="getMoralPersonsInfoByRegistrationNo">
<input message="tns:getMoralPersonsInfoByRegistrationNo"/>
<output message="tns:getMoralPersonsInfoByRegistrationNoResponse"/>
</operation>
<operation name="generatetMoralPersonInfoByRegistrationNoDigitalSignature">
<input message="tns:generatetMoralPersonInfoByRegistrationNoDigitalSignature"/>
<output message="tns:generatetMoralPersonInfoByRegistrationNoDigitalSignatureResponse"/>
</operation>
<operation name="getIndividualPersonInfoByNationalId">
<input message="tns:getIndividualPersonInfoByNationalId"/>
<output message="tns:getIndividualPersonInfoByNationalIdResponse"/>
</operation>
<operation name="generateIndividualPersonInfobyNationalIdDigitalSignature">
<input message="tns:generateIndividualPersonInfobyNationalIdDigitalSignature"/>
<output message="tns:generateIndividualPersonInfobyNationalIdDigitalSignatureResponse"/>
</operation>
</portType>
<binding name="AllAccountsOfPersonServiceSoap12HttpPortBinding" type="tns:AllAccountsOfPersonService">
<wsp:PolicyReference URI="#Mtom.xml"/>
<soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
<operation name="getAllAccountsOfPerson">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="getDigitalSignatureOfPersonService">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="getIndividualPersonInfo">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="getMoralPersonInfo">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="createTemporaryIndividualPerson">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="generateMoralPersonInfoDigiSignature">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="generateTmpIndPersonDigiSignature">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="getIndividualPersonChangeLog">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="generateIndividualPersonChangLogDigitalSignature">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="getMoralPersonChangeLog">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="generateMoralPersonChangLogDigitalSignature">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="getForeignIndividualPersonsInfoByIdNo">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="generateForeignIndividualPersonsInfoByIdNoDigitalSignature">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="getMoralPersonsInfoByNationalId">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="generateMoralPersonsInfoByNationalId">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="getMoralPersonsInfoByRegistrationNo">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="generatetMoralPersonInfoByRegistrationNoDigitalSignature">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="getIndividualPersonInfoByNationalId">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="generateIndividualPersonInfobyNationalIdDigitalSignature">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
</binding>
<service name="AllAccountsOfPersonService">
<port name="AllAccountsOfPersonServiceSoap12HttpPort" binding="tns:AllAccountsOfPersonServiceSoap12HttpPortBinding">
<soap12:address location="http://10.9.12.158:8001/PersonAllAccountsInfo/AllAccountsOfPersonServiceSoap12HttpPort"/>
</port>
</service>
</definitions>